.toolBoxContainer {
  padding: 20px;
  position: absolute;
  top: 25%;
  left: 20px;
  width: 256px;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .toolItem {
    margin-bottom: 20px;
    .toolText {
      font-size: 15px;
      font-weight: bold;
      font-family: "Nunito Sans", sans-serif;
    }
    .itemContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 8px;
    }
    .colorBox {
      height: 20px;
      width: 20px;
      margin-right: 4px;
      border-radius: 10px;
      &:hover,
      &.active {
        border: 2px solid black;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
          rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
          rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
      }
    }
  }
}


@media (max-width: 550px) {
  .toolBoxContainer{
    position: absolute;
    top: 12%;
    left: 18%;
    transform: translateY(-50%);
  }
}
