.menuContainer {
  position: absolute;
  left: 50%;
  top: 2.8rem;
  width: 25%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 10px;
  transform: translateX(-50%);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  .iconWrapper {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    height: 40px;
    width: 40px;
    &:hover ,&.active{
      background-color: rgb(230, 190, 178);
    }
    .icon {
      font-size: 20px;
      color: #383737;
    }
  }
}


